body {
    background-image: url(FundoPreto.png);
    display: flex;  
    height: 100vh;
    width: 100vw;
}
.fundo_rosa{
    background-image: url(FundoCurriculo.png);
    width: 700px;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;

}
.fundo_branco {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: auto;



}
.conteudo {
    margin: 30px;
    
}
.icones {
    height: 40px;
    width: 40px;

}
.posicao_icones {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
